body {
    background-color: black;
    color: white;
    text-align: center;
}
table {
    margin: auto;
    cursor: default;
}

td {
    width:20px;
    height:20px;
    text-align: center;
    background-color: gray;
}

.mine {
    background-color: red;
}

.shown{
    background-color: rgb(160, 160, 160);
}

img {
    width:15px;
    height:auto
}
.new-game{
    margin: 20px;
}
.level{
    margin: 20px;
}
.gameTime{
    display: inline-block;
    margin-right: 40px;
    /* padding: 3px;
    width: 60px;
    background-color: rgb(218, 218, 218);
    color: rgb(41, 58, 207); */
}
.liveLeft{
    display: inline-block;

}
.resetBtn{
    /* width:25px; */
    height:30px;
    margin: 20px;
    text-align: left;
    background-color: rgb(160, 160, 160);
}
.frame{
    /* border: 1px solid rgb(160, 160, 160);
    width: 300px;
    height: 500; */
    margin: auto;
    margin-top: 10px;
    padding: 10px;
}
.hints{
    cursor: default;
    margin: auto;
    margin-top: 20px;
    background-color: rgba(128, 255, 0, 0.466);
    width: 150px;
    padding: 4px;
    border-radius: 10px;
}
.showHint{
    background-color: rgb(182, 255, 140);
    color: black;
}
.records{
    margin-top: 10px;
    margin: auto;
    text-align: left;
    border: 2px solid black;
    width: fit-content;
    padding: 5px;
}
.footer{
    margin-top: 20px;
    font-size: 20px;
}