body {
    background-color: black;
    color: white;
    text-align: center;
}
table {
    margin: auto;
}

td {
    width:20px;
    height:20px;
    text-align: center;
    background-color: gray;
}

.mine {
    background-color: red;
}

.shown{
    background-color: rgb(160, 160, 160);
}

img {
    width:15px;
    height:auto
}
.new-game{
    margin: 20px;
}
.level{
    margin: 20px;
}